__pycache__/

# docs
doc/_build
poster/*.aux
poster/*.log
poster/*.pdf
python/dist/
python/*.egg-info/
python/build
python/tests/.coverage
python/tests/htmlcov
python/tests/.ipynb_checkpoints
python/sandbox
docs/_build/
sandbox
