__pycache__/

# docs
doc/_build

python/dist/
python/xraydb/version.py
python/*.egg-info/
python/build
python/tests/.coverage
python/tests/htmlcov
python/tests/.ipynb_checkpoints
docs/_build/
sandbox

