include README INSTALL LICENSE MANIFEST.in setup.py setup.cfg requirements.txt versioneer.py
include xraydb/xraydb.sqlite xraydb/materials.dat xraydb/*.py tests/*.py
recursive-exclude *.pyc core.* *~ *.pdf
